@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #8f9aaa;

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: $primary-color;
    display: inline;
}

.containerMain{
    grid-template-columns: repeat(1, auto) repeat(1, 1fr);
    grid-template-rows: repeat(1, auto) repeat(1, 1fr);
}

.header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(1, auto) repeat(2, 1fr);
}

.sidebar{
    // background-color: #9dffaa;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebarContent{
    grid-template-rows: repeat(3, auto);
}

.mainContent{
    // background-color: #c386fd;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    grid-template-columns: repeat(1, 3fr) repeat(1, 1fr);
    grid-template-rows: repeat(1, auto) repeat(3, 1fr);
}

.projectContent{
    resize: both;
    overflow: auto;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}